{% load static %}
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}MovieShelf{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'catalogue/style.css' %}">
</head>

<body>
    <!-- Navbar Glassmorphism -->
    <nav class="navbar">
        <div class="nav-brand">
            <a href="{% url 'accueil' %}">🎬 MovieShelf</a>
        </div>
        <div class="nav-links">
            <a href="{% url 'accueil' %}">Accueil</a>
            <a href="{% url 'catalogue' %}">Catalogue</a>
            <a href="{% url 'genre-list' %}">Genres</a>

            {% if user.is_authenticated %}
            <a href="{% url 'shelf' %}">📚 Ma Shelf</a>
            <a href="{% url 'movie-create' %}">+ Ajouter</a>
            <a href="{% url 'profile' %}">👤 {{ user.username }}</a>
            <form method="post" action="{% url 'logout' %}" style="display:inline">
                {% csrf_token %}
                <button type="submit" class="nav-btn">Déconnexion</button>
            </form>
            {% else %}
            <a href="{% url 'login' %}">Connexion</a>
            <a href="{% url 'signup' %}">Inscription</a>
            {% endif %}
        </div>
    </nav>

    <!-- Messages Django -->
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="message message-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}

    <!-- Contenu Principal -->
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer">
        <p>MovieShelf — Projet étudiant Django 2025-2026</p>
    </footer>

    {% block extra_js %}{% endblock %}
</body>

</html>