{% extends 'catalogue/base.html' %}

{% block title %}Ajouter un film - MovieShelf{% endblock %}

{% block content %}
<div class="form-container">
    <h1 class="form-title"><span class="ico ico-plus ico-accent"></span> Ajouter un film</h1>

    <form method="post" class="django-form" enctype="multipart/form-data">
        {% csrf_token %}

        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
            <small class="help-text">{{ field.help_text }}</small>
            {% endif %}
            {% if field.errors %}
            <div class="form-error">{{ field.errors }}</div>
            {% endif %}
        </div>
        {% endfor %}

        <div class="form-actions">
            <button type="submit" class="btn"><span class="ico ico-check ico-sm"></span> Ajouter</button>
            <a href="{% url 'catalogue' %}" class="btn btn-outline"><span class="ico ico-cross"></span> Annuler</a>
        </div>
    </form>
</div>
{% endblock %}